
{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>HOME</title>
    <link rel="stylesheet" href="{% static 'CSS/mac.css' %}">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.1.1/css/all.min.css">
    <link rel="icon" href="/Image/favicon.png" type="image/x-icon">
</head>
<body>
    <!-- header start -->
    <header>
        <div class="main">
            <div class="phone">
                <div class="logo"><i class="fa-solid fa-phone" style="color: #ebecf0;"></i></div>
                <div class="number"><p style="color: white;">+91 7574843784</p>
                </div>
            </div>    
            <div class="icon">
                <div class="whatsapp">
                <a href=""><i class="fa-brands fa-whatsapp" style="color: #e7ebf4;"></i></a>
                </div>
                <div class="facebook">
                <a href=""><i class="fa-brands fa-facebook-f" style="color: #eaecf0;"></i></a>
                </div>
                <div class="instagram">
                    <a href=""><i class="fa-brands fa-instagram" style="color: #f4f6fb;"></i></a>
                </div>
                <div class="linkdin">
                    <a href=""><i class="fa-brands fa-linkedin" style="color: #f8f9fc;"></i></a>
                </div>
            </div>
            <div class="mail"><i class="fa-solid fa-square-envelope" style="color: #f4f7fa;"></i></div>
            <div class="email"><p style="color: white;">info.macllockinstitute@gmail.com</p></div>
    
        </div>
        <div class="ABC">
            <div>
                <img style="width: 250px;"src="{% static 'image/mac.png' %}" alt="sorry">
            </div>
            <div class="DEF">
                <a href="{% url 'home' %}">Home</a>
                <a href="{% url 'course' %}">Course</a>
                <a href="{% url 'college' %}">College Courses</a>
                <a href="{% url 'activity' %}">Activities</a>
                <a href="{% url 'about' %}">About Us</a>
                <a href="{% url 'blog' %}">Blog</a>
                <a href="{% url 'contact' %}">Contact</a>
            </div>
        </div>
    </header>
    <!-- header end -->
{% block MAC %}
{% endblock %}    
<!-- footer start -->
<footer>
    <div class="fo">
        <div class="F">
            <div class="log">
                <img style="width: 250px;"src="{% static 'Image/mac.png' %}" alt="sorry">
            </div>
            <div class="F1">
                <p>કમ્પ્યુટર IT હવે Skill નહીં પણ જરૂરીયાત બની રહી છે, તો <br> આજે જ જોડાઓ Maclloc Institute સાથે...</p>
            </div>
            <div class="icon1">
                <div class="whatsapp1">
                    <i class="fa-brands fa-whatsapp"></i>
                </div>
                <div class="facebook1">
                    <i class="fa-brands fa-facebook"></i>
                </div>
                <div class="instagram1">
                    <i class="fa-brands fa-instagram"></i>
                </div>
                <div class="linkdin1">
                    <i class="fa-brands fa-linkedin"></i>
                </div>
            </div> 
        </div>  
        <div class="content">
            <ul> <h3>Pages</h3>
            <li>Courses</li>
            <li>Gallery</li>
            <li>Event</li>
            <li>About </li>
            <li>Contact </li>
            </ul>
        </div>
      
            <div class="contact">
                <ul><h3>Contacts</h3>
                    <div class="c1">
                        <div class="i1">
                            <li><i class="fa-solid fa-phone"></i></li>
                        </div>
                        <div class="num">
                            <p>+91 7574843784</p>
                        </div>

                    </div>
                    <div class="c2">
                        <div class="i2">
                            <li><i class="fa-solid fa-envelope"></i></li>
                        </div>
                        <div class="gmail">
                            <p>info.macllocinstitute@gmail.com</p>
                        </div>
                    </div>
                    <div class="c3">
                        <div class="i3">
                            <li><i class="fa-solid fa-location-dot"></i></li>
                        </div>
                        <div class="loc">
                            <p>219,raghuvir shoppers,near lajamni chowk,mota varacha,surat-394101</p>
                        </div>
                    </div>    
                </ul>
            </div>
</footer>
<div class="end">
    <p>2023 MACLLOC DESIGN AND MULTIMEDIA INSTITUTE Developed By TRULINE SOLUTION</p>
</div>
<!-- footer end -->
</body>
</html>