{% extends 'base.html' %}
{% load static %}

{% block MAC%}
    <section>
        <div class="cbann">
            <h4>College Courses</h4>
        </div>
    </section>
    <section>
        <div class="coc">
            <div class="coim2">
                <img style="width: 400px;" src="{% static 'Image/college2.jpg' %}" alt="Sorry">
            </div>
            <div class="cot">
                <h1>ABOUT MACLLOC COLLEGE</h1>
                <p>We are providing regular college <br>courses education.<br>for best in industry and quality education
                 with <br>certificates from UGC/AICTE approved universities. <br>
                 Creative college of computer application is giving <br>
                 knowledge in theory and as well as practical <br>knowledge which is currently upgraded in real <br>industries.</p>
            </div>
            <div class="coim1">
                <img style="width: 400px;" src="{% static 'Image/college1.jpg' %}" alt="">
            </div>
        </div>
    </section>
    <section>
        <div class="co3">
            <div class="coi3">
                <img style="width: 600px;" src="{% static 'Image/college3.jpg' %}" alt="Sorry">
            </div>
            <div class="cott">
                <h1>UNDER GRADUATE COURSES </h1>
                <li>  BCA ( Bachelors in Computer Application )</li>
                <li>B.Sc IT ( Bachelor of Science in Information Technology )</li>
                <li>B.Sc ( Bachelor of Science )</li>
                <li>BBA ( Bachelor of Business Administration )</li>
                <li>B.Com ( Bachelor of Commerce )</li>
                <li> BA ( Bachelor Arts )</li>
                </div>
            </div>
        </div>
    </section>
{% endblock %}