{% extends 'base.html' %}
{% load static %}
{% block MAC %}
<section>
    <div class="flutter">
        <h2>Flutter Development</h2>        
    </div>
</section>
<section>
    <div class="flutterJ">
        <div class="fp">
            <p>Software Development માં Android, ios, Desktop. Game અને web માટે અલગ-અલગ Apps
                બનાવવામાં આવે પરંતુ તેમાં ગેરફાયદાઓ પણ છે જેના માટે અલગ ટીમો <br>રાખવી પડે, વધુ સમય અને વધુ 
                નાણા ખર્ચવા માટે વધુ બજેટ જોઈએ. આ ગેરફાયદાના કારણે Google દ્વારા ૨૦૧૭ માં
                Flutter Launch કરવામાં આવ્યું તેથી સમય અને પૈસાની <br>બચત થાય.</p>
        </div>     
    </div>
</section>
<section>
    <div class="flutter1">
        <div class="flutteri">
            <img style="width: 700px;" src="{% static 'Image/flutter2.png' %}" alt="">
        </div>
        <div class="flutterl1">
            <h1>Master In FLUTTER DEVELOPMENT</h1>
            <li>C, C++</li>
            <li>Logic Development</li>
            <li>Postman</li>
            <li>Git Management</li>
            <li>Core Java</li>
            <li>API Integration</li>
            <li>State Management</li>
            <li>Desktop / Web</li>
            <li>Casual Games</li>
            <li>Dart + Flutter</li>
            <li>Firebase</li>
            <li>PHP/NodeJS API Concept</li>
            <li>sqflite/MYSQL/Hive</li>
            <li>Android/iOS App</li>
            <li>10+ Live Project</li>
        </div>

    </div>
</section>
{% endblock %}