{% extends 'base.html' %}
{% load static %}
{% block MAC %}
<section>
    <div class="fullstack">
        <h3>FullStack Development</h3>
    </div>
</section>
<section>
    <div class="fult">
        <h4>Master In FULL STACK DEVELOPMENT</h4>
    </div>
</section>
<section>
    <div class="full">
        <div class="fulli">
            <img style="width: 600px;" src="{% static 'Image/full1.jpeg' %}" alt="">
        </div>
        <div class="fullt">
            <h2>Front-end JS Development</h2>
            <li>C, C++</li>
            <li>Javascript</li>
            <li>Git Management</li>
            <li>Logic Development</li>
            <li>HTML/CSS/Bootstrap Concept</li>
            <li>Choose any one framework (ReactJS OR AngularJS OR VueJS)</li>
            <li>TypeScript or ECMAScript</li>
            <li>API Call</li>
            <li>10+ Live Project</li>
        </div>
    </div>
</section>
<section>
    <div class="back">
        <div class="backt">
            <h2>Back-end JS Development</h2>
            <li>C, C++</li>
            <li>Javascript</li>
            <li>Git Management</li>
            <li>Logic Development</li>
            <li>HTML/CSS/Bootstrap Concept</li>
            <li>MySQL</li>
            <li>Express.JS</li>
            <li>ECMAScript</li>
            <li>Node.JS</li>
            <li>API Development</li>
            <li>10+ Live Project</li>
        </div>
        <div class="backi">
            <img style="width: 600px;" src="{% static 'Image/full2 (1).jpg' %}" alt="">
        </div>
    </div>
</section>
</body>
</html>
{% endblock %}