{% extends 'base.html' %}
{% load static %}
{% block MAC %}
<section>
    <div class="graphics">
        <h4>Graphics Design</h4>
    </div>
</section>
<section>
    <div class="graphics1">
        <div class="graphicsi">
            <img style="width: 600px;" src="{% static 'Image/graphic1.jpeg' %}" alt="">
        </div>
        <div class="graphicst">
            <h3>Advance GRAPHICS DESIGN</h3>
            <li>Photoshop</li>
            <li>InDesign</li>
            <li>Logo Design</li>
            <li>Mockup Design</li>
            <li>Visiting Card Design</li>
            <li>Catalog Design</li>
            <li>Festival Post Design</li>
            <li>Dribbble Portfolio</li>
            <li>Behance Portfolio</li>
            <li>10+ Live Project</li>
        </div>
    </div>
</section>
<section>
    <div class="graphics2">
        <div class="graphics2t">
            <h3>ગ્રાફિક્સ ડીઝાઈન કોણ શીખી શકે?</h3>
            <li>૧૦-૧૨ પાસ કે નાપાસ, ડીપ્લોમાં કે ઈન્જીનિયરીંગના વિદ્યાર્થીઓ</li>
            <li>Science, Commerce કે Arts કોઈ પણ સ્ટ્રીમનો વિધાર્થી</li>
            <li>બિઝનેસમેન કે હાઉસ વાઈફ કે અન્ય ક્ષેત્રે નોકરી કરનાર વ્યકિત</li>
            <li>ડિઝાઈન અને આર્ટ ક્ષેત્રે રૂચિ ધરાવનાર વ્યકિત</li>
            <li> પ્રિન્ટિંગ & જાહેરાત બનાવવું પસંદ કરનાર વ્યકિત માટે</li>

            <h4>ગ્રાફિકસ ડિઝાઈન કર્યા બાદ શું?</h4>
            <li>IT, Production, Digital Marketing, Game Design, Animation કે <br>અન્ય કંપનીમાં Job કરી શકાય</li>
            <li>ન્યુનતમ રોકાણ સાથે Business ચાલુ કરી શકાય</li>
            <li>ઘરે બેસી Freelancing કરી શકાય</li>
        </div>
    </div>
</section>
{% endblock %}