{% extends 'base.html' %}
{% load static %}
{% block MAC %}
<section>
    <div class="python">

    </div>
</section>
<section>
    <div class="python1">
        <div class="pythoni">
            <img style="width: 600px;" src="{% static 'Image/py1.jpeg' %}" alt="">
        </div>
        <div class="pythont">
            <h1>Advance PYTHON</h1>
            <li>Control Structure</li>
            <li>Looping</li>
            <li>Object Oriented Programming (OOP)</li>
            <li>Inheritance & Polymorphism</li>
            <li>Ios & subprocess Module</li>
            <li>Command Line Argument (CLA)</li>
            <li>( PIP ) Package Manager & Database Interaction</li>
            <li>GUI with Tkinter</li>
            <li>NumPy</li>
            <li>Pandas</li>
        </div>
    </div>
</section>
{% endblock %}